.column{
  width: 33.333333333%;
  margin-bottom: 20px;
  float: right;
}
.column p{
  border: solid rgb(42, 55, 94);
  border-width: 3px;
  box-sizing: border-box;
  font-family: Arial;
  background-color: red;
  
}

img {
  display: block;
  width: 50%;
  height: 60%;
  margin-bottom: 20px;
  border: solid black;
  border-width: 10px;

}